  <form method="POST" action="/users/add ">
    <input type="text" name="first_name" value="Throw">
    <br>
    <label>Last name:</label><br>
    <input type="text" name="last_name" value="Away">
    <br>
    <label>Age:</label><br>
    <input type="text" name="age" value="12">
    <input type="submit" value="Submit throwaway user">
  </form>