<!DOXTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
  content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible"
  content="ie=edge">
  <title>Cypher, maybe?</title>
</head>
<body>
  <div class="item" style="border-style: solid;border-width: medium">
    <h1>Hand-delivered 30-rack</h1>
    <img src="https://scontent-atl3-1.xx.fbcdn.net/v/t1.0-9/23844873_1572358632802361_7388012366493930751_n.jpg?oh=9d92f6fe960d2e834fbbc401c0606f50&oe=5AC5C8C2" style="height:350px">
    <h2>Buy for $20</h2>
    <form action="/pay" method="post">
      <input type="submit" value="Buy now">
    </form>
  <div>
</body>
</html>
